<div class="jumbotron">
    <div class="text-center">
        <!-- <h1 class="display-4">Radhe Ravi</h1>
         <h3 class=""> Software Developer</h3> -->

         <div class="custom">
            <div class="wrapper">
                <div class="static-txt">I'm a</div>
    
                <ul class="dynamic-txt">
                    <li>
                        <span>
                            Software Developer
                        </span>
                    </li>    
                    <li>
                        <span>
                            Web Developer
                        </span>
                    </li>                         
                    <li>
                        <span>
                            Poetry Writer
                        </span>
                    </li>
                </ul>
             </div>
         </div>


    </div>
</div>