<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <h2>
            Contact Me
        </h2>
        <p>
            Feel free to contact me.
        </p>
        <div class="Box" style="display: inline-flex;">
            <ul style="list-style-type:none;">

                <li>
                    <a [href]="socialLinks.PHONE" target="">
                        <img src="../../assets/social/icons8-phone-48.png" alt="..." class="rounded-circle"
                            style="min-width: 24px; min-height: 24px; max-width: 24px; max-height: 24px;">
                    </a>
                    <b>{{socialLinks.PHONE}}</b>
                </li>
                
                <li>
                    <a [href]="socialLinks.EMAIL" target="">
                        <img src="../../assets/social/icons8-gmail-48.png" alt="..." class="rounded-circle"
                            style="min-width: 24px; min-height: 24px; max-width: 36px; max-height: 24px;">
                    </a>
                    <b>{{socialLinks.EMAIL}}</b>
                </li>

              
                
            </ul>
        </div>

        <div class="Box">
            <a [href]="socialLinks.GITHUB" target="_blank">
                <img src="../../assets/social/icons8-github-48.png" alt="..." class="rounded-circle"
                    style="min-width: 48px; min-height: 48px; max-width: 48px; max-height: 48px;">
            </a>

            <a [href]="socialLinks.INSTAGRAM" target="_blank">
                <img src="../../assets/social/icons8-instagram-48.png" alt="..." class="rounded-circle"
                    style="min-width: 48px; min-height: 48px; max-width: 48px; max-height: 48px;">
            </a>

            <a [href]="socialLinks.LINKEDIN" target="_blank">
                <img src="../../assets/social/icons8-linkedin-48.png" alt="..." class="rounded-circle"
                    style="min-width: 48px; min-height: 48px; max-width: 48px; max-height: 48px;">
            </a>

            <a [href]="socialLinks.LEETCODE" target="_blank">
                <img src="../../assets/social/leetcode.png" alt="..." class="rounded-circle"
                    style="min-width: 48px; min-height: 48px; max-width: 48px; max-height: 48px;">
            </a>
        </div>
    </div>
</div>