<div @flyInOut class="container">
    <div class="row">
        <div class="col-lg shadow border m-1">
            <div class="text-center" style="font-size: large;">
                <h2 style="margin: 10px 0 -5px 10px;"> About me </h2>
                <img @fadein src="../../assets/images/pics-modified.png" alt="profile image" width="256" height="256"
                    class="rounded-circle" style="margin: 10px 10px 10px 10px; padding: 10px 10px 10px 10px;"/>
                <div class="card border-primary mb-3" style="margin: 10px 10px 10px 10px; padding: 10px 10px 10px 10px;">
                    <div class="Box" style="margin: 10px 10px 10px 10px;text-align: justify; min-width: fit-content; max-width: fit-content; min-height: fit-content; max-height: fit-content; padding: 10px 10px 10px 10px;">
                        <p>
                            Hi, I'm <B style="color: red; font-size: larger;">{{name}}</B>,{{description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>